<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${title}"></h1>

    <nav th:replace="fragments :: navigation"></nav>

    <h3 th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</h3>
    <br/>
    <table class="table">
        <tr>
            <th>Name</th>
            <th></th>
            <th>Description</th>
            <th>Type</th>
        </tr>

        <tr th:each="cheese : ${cheeses}">
            <td th:text="${cheese.name.toLowerCase()}"></td>

            <td th:text="${cheese.description.toLowerCase()}"></td>

            <td th:text="${cheese.type.name}"></td>



        </tr>
    </table>




</body>
</html>